<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    
    <div>
        <label for="">Check In Date:</label>
        <input type="date" formControlName="checkInDate" >
    </div>

    <div>
        <label for="">Check Out Date:</label>
        <input type="date" formControlName="checkOutDate" >
    </div>

    <div>
        <label for="">Guest Name:</label>
        <input type="text" formControlName="guestName" >
    </div>

    <div>
        <label for="">Guest Email:</label>
        <input type="email" formControlName="guestEmail" >
    </div>

    <div>
        <label for="">Room Number:</label>
        <input type="number" formControlName="roomNumber" >
    </div>
   
    <button type="submit" [disabled]="reservationForm.invalid" >Submit</button>
    
</form>